src/main/mule/aholdtastryintegrationprojpapi.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:validation="http://www.mulesoft.org/schema/mule/validation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/validation http://www.mulesoft.org/schema/mule/validation/current/mule-validation.xsd">
	
	<flow name="pollnpushdeltaextractFlow" doc:id="d1ba34a8-f72d-4223-951f-46ebef8dc76b" >
		<http:listener doc:name="Listener" doc:id="d9290646-de50-4cbe-8676-4e0ab78716ed" config-ref="HTTP_Listener_config1" path="/getdeltaextract"/>
		<http:request method="GET" doc:name="Invoke SAPI to Fetch Delta Extract if available" doc:id="6fbf0cf4-bd01-448b-83cd-3a42b46b67b5" config-ref="HTTP_Request_config_CentralDB" path="/deltaextractfetch" sendCorrelationId="ALWAYS">
			<reconnect />
			<http:response-validator >
				<http:success-status-code-validator values="200" />
			</http:response-validator>
		</http:request>
		<validation:is-not-null doc:name="CheckIfDeltaExtractAvailable" doc:id="3416b57b-75e8-4caa-b1d4-2b281ca06127" value="#[!isEmpty(payload)]" message="Delta Extract is available"/>
		<ee:transform doc:name="ConvertToTastryRequest" doc:id="05d838e6-00e4-474c-b125-2a39593419b0">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  webhookURL: "http://2a3a28f6.ngrok.io/return-updated-json-here",
  delta_extract: payload
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<http:request method="POST" doc:name="Request" doc:id="4aa905c9-f4ca-4cb2-99e2-795891854bc3" config-ref="HTTP_Request_config_Tastry" path="/v1/upload/beer">
			<http:headers ><![CDATA[#[output application/java
---
{
	Authorization : 'Bearer H3VW2MS7Q0KZS8C'
}]]]></http:headers>
		</http:request>
		<logger level="INFO" doc:name="Logger" doc:id="9f1d94dc-5e20-4321-a92d-b1b0765b7115" message="#[payload]"/>
	</flow>
	
	<flow name="pushtastryinfointodbFlow" doc:id="12dfac42-7b30-4fdb-8606-2fcbfc2b0a67" >
		<http:listener doc:name="Listener" doc:id="3a401730-c165-4e82-b435-d23c4b7d0d7f" config-ref="HTTP_Listener_config1" path="/pairingsinfo"/>
		<http:request method="GET" doc:name="Invoke SAPI to fetch list of UPC from STORE_BEER table which are to be removed" doc:id="228dd3d7-a944-47a2-9abc-6276ac7b8bdd" config-ref="HTTP_Request_config_CentralDB" path="/unwantedbeerlist" target="storeBeerPKList"/>
		<flow-ref doc:name="Call listInitializationFlow" doc:id="be4143f6-aa21-4837-bb64-fb7230adc323" name="listInitializationFlow" />
		<set-payload value="#[%dw 2.0
output application/json
---

{
  pkColName: 'UPC',
  pkColVal: trim(vars.currElement.Item_ID) as String
}]" doc:name="SAPI Request" doc:id="0bb9a058-ef03-4461-801a-0ea20895535c" />
		<http:request method="GET" doc:name="Invoke SAPI to get Image Path" doc:id="f35daae0-b33d-4744-9196-3b383033dde2" config-ref="HTTP_Request_config_CentralDB" path="/tables/configtab/IMAGE_PATH" target="imagePath" />
		<foreach doc:name="For Each" doc:id="9d027f94-443d-43bf-a611-ada5a4224ece" >
			
			<set-variable value="#[payload]" doc:name="Current Element" doc:id="4c5ec319-abe5-4fc4-a9aa-668e8f375359" variableName="currElement"/>
			<flow-ref doc:name="Invoke beerbeergroupbeertypeliscreationSubFlow" doc:id="37b9a082-c230-46a0-817d-87ba59463f0b" name="beerbeergroupbeertypelistcreationSubFlow" />
			<logger level="INFO" doc:name="Logger" doc:id="64db5fcb-17cf-49f4-b0d1-f4fa1f6af92f" message="#[payload]"/>
			<flow-ref doc:name="Invoke storebeerstoreinfolistcreationSubFlow" doc:id="ba0383ff-1c9c-4f7d-81da-d3af7fdcde9c" name="storebeerstoreinfolistcreationSubFlow" />
			<logger level="INFO" doc:name="Logger" doc:id="3dbdb5a0-58fe-47bf-8f78-c92ec0884c85" message="#[payload]"/>
			<flow-ref doc:name="Invoke foodgroupsubfoodgrouppairinglistcreationSubFlow" doc:id="56ba640a-7fe0-4dee-bde2-dfc046da47fd" name="foodgroupsubfoodgrouppairinglistcreationSubFlow"/>
		</foreach>
		<set-payload value="#[%dw 2.0

output application/json

---

{
	BeerGroup: vars.beerGroupList,
	BeerType: vars.beerTypeList,
	NewBeer: vars.newBeerList,
	ExistingBeer: vars.existingBeerList,
	StoreBeer: vars.storeBeerList,
	StoreInfo: vars.storeInfoList,
	FoodGroup: vars.foodGroupList,
	SubFoodGroup: vars.subFoodGroupList,
	Pairings: vars.pairingsList
}]" doc:name="Set Payload" doc:id="5926de52-4242-4f7c-afa7-5d0701970d5c" />
		<!--  <http:request method="POST" doc:name="Invoke SAPI to Insert Tastry Info into CentralizedDB" doc:id="165bdd8e-ae3d-4ce7-b566-af7067812536" config-ref="HTTP_Request_config_CentralDB" path="/tastryinfo"/>-->
	</flow>
	
	<sub-flow name="listInitializationFlow" doc:id="34d4935a-fa4c-49a2-8aca-09b781f1297d" >
		<set-variable value="#[%dw 2.0
output application/java
---
[]]" doc:name="BeerGroupList" doc:id="0cb193d5-1875-48f2-bbf2-a3b14fc3c39b" variableName="beerGroupList" />
		<set-variable value="#[%dw 2.0
output application/java
---
[]]" doc:name="BeerTypeList" doc:id="35866272-ff63-4869-89e0-e0fb836029c0" variableName="beerTypeList" />
		<set-variable value="#[%dw 2.0
output application/java
---
[]]" doc:name="NewBeerList" doc:id="e04fb91c-7de5-4e25-a244-765ca111ba02" variableName="newBeerList" />
		<set-variable value="#[%dw 2.0
output application/java
---
[]]" doc:name="ExistingBeerList" doc:id="aa202b52-0a36-4cdc-bb6d-92c7081deeed" variableName="existingBeerList" />
		<set-variable value="#[%dw 2.0
output application/java
---
[]]" doc:name="StoreBeerList" doc:id="1059b978-5732-4f09-970b-47296df0e3ea" variableName="storeBeerList" />
		<set-variable value="#[%dw 2.0
output application/java
---
[]]" doc:name="StoreInfoList" doc:id="d89e6c30-fcd6-45a0-9b38-f3920414e272" variableName="storeInfoList" />
		<set-variable value="#[%dw 2.0
output application/java
---
[]]" doc:name="FoodGroupList" doc:id="4c61b404-8aa3-4f8f-92b1-ad13cece4f20" variableName="foodGroupList"/>
		<set-variable value="#[%dw 2.0
output application/java
---
[]]" doc:name="SubFoodGroupList" doc:id="7a29bb87-bbdf-4357-8ca6-d7dbfe7c179e" variableName="subFoodGroupList" />
		<set-variable value="#[%dw 2.0
output application/java
---
[]]" doc:name="PairingsList" doc:id="c9a87851-7c42-4f96-98d0-ed00a38ffbed" variableName="pairingsList" />
	
</sub-flow>


<sub-flow name="beerbeergroupbeertypelistcreationSubFlow" doc:id="963f496e-e21e-4514-a223-b667a887265b" >
		<http:request method="POST" doc:name="Invoke SAPI to Check if Beer is Already Available" doc:id="3bcce35c-2904-42c4-b425-72aaf71dbc6d" config-ref="HTTP_Request_config_CentralDB" path="/tables/beer">
			</http:request>
		<choice doc:name="Check if Current Beer is Already Available or not" doc:id="999f259e-e65c-4b5f-9a5c-75c0b3fa656b">
				<when expression="#[payload.isRecordPresent == false]">
					<set-variable value="#[%dw 2.0
output application/java
---

{
	BeerGroupID: vars.currElement.BeerCategoryID as Number,
	BeerGroupName: vars.currElement.Category
}]" doc:name="BeerGroupObj" doc:id="ff3f6b27-5cd4-4fa2-bf5d-f1de82e77328" variableName="beerGroupObj" />
		<set-variable value="#[%dw 2.0
output application/java
---
vars.beerGroupList + vars.beerGroupObj]" doc:name="Add to BeerGroupList" doc:id="724b18ec-f786-4d27-80b1-23d97b00e03d" variableName="beerGroupList" />
		<set-variable value="#[%dw 2.0
output application/java
---
{
	BeerTypeID: vars.currElement.BeerSubCategoryID as Number,
	Name: vars.currElement.Subcategory,
	BeerGroupID: vars.beerGroupObj.BeerGroupID
}]" doc:name="BeerTypeObj" doc:id="c6b7b5dc-2708-4c94-b3b0-75879f12b9a3" variableName="beerTypeObj" />
		<set-variable value="#[%dw 2.0
output application/java
---
vars.beerTypeList + vars.beerTypeObj]" doc:name="Add to BeerTypeList" doc:id="c9e159d8-3fd4-4d19-b1a5-1da2893637cf" variableName="beerTypeList" />
<set-variable value="#[%dw 2.0
output application/java
---
{
	Upc: vars.currElement.Item_ID,
	Brand: vars.currElement.Brand,
	Name: vars.currElement.Name,
	BeerTypeID: vars.beerTypeObj.BeerTypeID as Number,
	Taste: vars.currElement.Taste,
	Abv: vars.currElement.ABV as Number,
	Calories: vars.currElement.Calories as Number,
	Origin: vars.currElement.Origin,
	SubCat: vars.currElement.Subcategory,
	ImageUrl: vars.imagePath ++ '/' ++ vars.currElement.ImageFilename,
	Priority: vars.currElement.Priority as Number,
	Seasonal: if (vars.currElement.Seasonal == &quot;false&quot;) 'F' else 'T',
	Color: null
}]" doc:name="BeerObj" doc:id="6ddfbce1-f534-4a4b-8389-7bcd5641be9a" variableName="beerObj" />
		<set-variable value="#[%dw 2.0
output application/java
---
vars.newBeerList + vars.newBeerObj]" doc:name="Add to NewBeerList" doc:id="98b317a0-2969-4d27-9a66-5aa65a242f63" variableName="newBeerList" />
					
				
</when>
			<otherwise>
					<set-variable value="#[%dw 2.0
output application/java
---
{
	Brand: vars.currElement.Brand,
	Name: vars.currElement.Name,
	Taste: vars.currElement.Taste,
	Abv: vars.currElement.ABV,
	Calories: vars.currElement.Calories,
	Origin: vars.currElement.Origin,
	SubCat: vars.currElement.Subcategory,
	ImageUrl: vars.imagePath ++ '/' ++ vars.currElement.ImageFilename,
	Priority: vars.currElement.Priority,
	Seasonal: vars.currElement.Seasonal,
	Color: ''
}]" doc:name="BeerObj" doc:id="6e29d6ba-3c98-4cf2-ac02-c924a2dbc256" variableName="existingBeerObj" />
		<set-variable value="#[%dw 2.0
output application/java
---
vars.existingBeerList + vars.existingBeerObj]" doc:name="Add to ExistingBeerList" doc:id="d7a5fbec-2419-4a9f-b3ae-8729be571cc9" variableName="existingBeerList" />
				</otherwise>
			</choice>
	</sub-flow>

	<sub-flow name="storebeerstoreinfolistcreationSubFlow" doc:id="9a8f7c7a-d3a8-46a1-b101-4ee5fae0e0fa" >
		<set-variable value="#[%dw 2.0
output application/json
---

vars.currElement.Store_Numbers.ss map ((item, index) -&gt; {
	element: item as String
}.element)]" doc:name="All Store Nos List" doc:id="de93fbcc-afd9-403f-84dc-bb18b29646bc" variableName="storeNosList"/>
		<set-payload value="#[vars.storeNosList]" doc:name="Set to All Store Nos List" doc:id="4a9e0615-38f3-4ed5-b2c7-74e7fe287862" />
		<http:request method="POST" doc:name="Invoke SAPI to Filter Non Existing Records in STORE_INFO table" doc:id="55769387-de8b-479b-b313-f7e8f4c0aebe" path="/store_info/store_number/filter" config-ref="HTTP_Request_config_CentralDB"/>
		<ee:transform doc:name="Find New Store Nos to Insert into STORE_INFO table" doc:id="7a516b1a-0980-4924-b6a5-ae6ee7b21f43" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json

---

vars.storeNosList -- payload]]></ee:set-payload>
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="newStoreNosList" ><![CDATA[%dw 2.0
output application/json

---

vars.storeNosList -- payload]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<foreach doc:name="For Each" doc:id="6f83ee7f-ec21-4fe9-8f66-b49f5e7f695a" >
			<set-variable value="#[%dw 2.0
output application/java
---
{
	StoreID: payload,
	StoreNumber: payload
}]" doc:name="StoreInfoObj" doc:id="a105f01a-dd9a-429e-a915-f7ad132bdbdf" variableName="storeInfoObj" />
			<set-variable value="#[%dw 2.0
output application/java
---
vars.storeInfoList + vars.storeInfoObj]" doc:name="Add to StoreInfoList" doc:id="9c8f2061-edf6-49de-a9f7-2b2045ceeacd" variableName="storeInfoList" />
		</foreach>
		<logger level="INFO" doc:name="Logger" doc:id="4536bdc5-30f4-455b-856d-14b661623891" message="#[vars.newStoreNosList]"/>
		<set-payload value="#[vars.storeNosList]" doc:name="Set to All Store Nos List" doc:id="8b7bb5f0-9c2b-45a9-bd88-ba3da6c0e8f0" />
		<http:request method="POST" doc:name="Invoke SAPI to Filter Non Existing Records in STORE_BEER table" doc:id="cee330f4-5702-4da0-8eb2-fcb15441e76a" config-ref="HTTP_Request_config_CentralDB" path="/store_beer/store_number/filter"/>
		<ee:transform doc:name="Find New Store Nos to Insert into STORE_BEER table" doc:id="c6941d1b-7aeb-4e81-baf9-ce5835bf7ab8" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json

---

vars.storeNosList -- payload]]></ee:set-payload>
			</ee:message>
			<ee:variables >
			</ee:variables>
		</ee:transform>
		<foreach doc:name="For Each" doc:id="9002d534-b532-420a-b646-9abfa4f5605d" >
			<set-variable value="#[payload]" doc:name="Current Store Num" doc:id="0ab714f2-d49e-4c1c-a1d7-d42f5e1999e8" variableName="currentStoreNum"/>
			<http:request method="GET" doc:name="Invoke SAPI to Fetch Next Value of Sequence STORE_BEER_SEQ" doc:id="76e97984-ebbe-41a4-ab84-295bc2b0d012" config-ref="HTTP_Request_config_CentralDB" path="/sequences/store_beer_seq" />
			<set-variable value="#[%dw 2.0
output application/java
---
{
	BeerStoreID: payload,
	Upc: vars.currElement.Item_ID,
	StoreNumber: vars.currentStoreNum
}]" doc:name="StoreBeerObj" doc:id="624714b9-20e1-4fe8-8d31-6887e148a1b5" variableName="storeBeerObj" />
			<set-variable value="#[%dw 2.0
output application/java
---
vars.storeBeerList + vars.storeBeerObj]" doc:name="Add to StoreBeerList" doc:id="60ea5622-ef9b-4148-ad44-49b598cfcfdb" variableName="storeBeerList" />
		</foreach>
	</sub-flow>
	<sub-flow name="foodgroupsubfoodgrouppairinglistcreationSubFlow" doc:id="0df787a7-2ca0-4064-87c3-6b8955b03f96" >
		<set-variable value="#[vars.currElement.Food_Pairings]" doc:name="Food Pairings List" doc:id="7ca3916b-d906-4090-8203-6bfe23155da0" variableName="foodPairingsList"/>
		<set-payload value="#[vars.foodPairingsList]" doc:name="Set Food Pairings List as Payload" doc:id="56ef2af4-8016-40df-8e01-232cf3816bb5" />
		<foreach doc:name="For Each" doc:id="d8f7fcfc-7eff-4c89-b40b-7abcb56934c9" >
			<set-variable value="#[payload]" doc:name="Set the Current Element" doc:id="d2843abf-5b94-472e-a694-9b8cda6280b7" variableName="subCurrElement"/>
			<ee:transform doc:name="Check if Food Group from the Pairings Info already present in the FoodGroupList" doc:id="b9a79b0e-c691-4541-8c55-6b62cc260974" >
				<ee:message >
					<ee:set-payload ><![CDATA[%dw 2.0
output application/json

var foodGrpList = vars.foodGroupList
---

((
  foodGrpList map ((item, index) -> {
  	foodGroupId:
  		if (item.Name == vars.subCurrElement.category) item.FoodGroupID
  		else null
  	   
  })) filter($.foodGroupId != null) map {
  	pk: $.foodGroupId
  }.pk)[0]
	
]]></ee:set-payload>
				</ee:message>
			</ee:transform>
			<choice doc:name="Choice" doc:id="824d6b23-0cbd-4660-9b8c-e1774ceeecf1" >
				<when expression="#[payload == null]">
					<http:request method="GET" doc:name="Invoke SAPI to Fetch PK if a record exists for a 'NAME' field in FOOD_GROUP table" doc:id="d31ddf87-d9d4-45c7-9195-7e16fcfe44dd" config-ref="HTTP_Request_config_CentralDB" path="/tables/food_group/name/{col_val}" target="foodGroupPK">
				<http:uri-params><![CDATA[#[output application/java
---
{
	col_val : vars.subCurrElement.category
}]]]></http:uri-params>
				<http:query-params><![CDATA[#[output application/java
---
{
	pkcol_name : 'food_grp_id'
}]]]></http:query-params>

			</http:request>
				</when>
				<otherwise >
					<logger level="INFO" doc:name="Logger" doc:id="5d05204a-0eb8-4dfa-ab75-aa1daf3d1efa" message="Already exists in the foodGroupList"/>
					<set-variable value="#[payload]" doc:name="Food Group PK" doc:id="9871d807-0377-43fe-8b04-816e13829c9b" variableName="foodGroupPK"/>
				</otherwise>
			</choice>
			<choice doc:name="Choice" doc:id="80d24435-252c-43f4-b9f1-e3f3852e304e" >
				<when expression="#[vars.foodGroupPK == null]">
					<http:request method="GET" doc:name="Invoke SAPI to Fetch Next Value of Sequence 'FOOD_GROUP_SEQ'" doc:id="d18f9490-1026-4b93-b2d2-9dfdbde53854" config-ref="HTTP_Request_config_CentralDB" path="/sequences/food_group_seq" />
					<set-variable value="#[payload]" doc:name="Set the Value returned by the Sequence 'FOOD_GROUP_SEQ'" doc:id="ce1f3396-d13d-4470-a00c-7bbb4c707f8e" variableName="foodGroupPK"/>
					<set-variable value="#[%dw 2.0
output application/java
---
{
	FoodGroupID: payload,
	Name: vars.subCurrElement.category
}]" doc:name="FoodGroupObj" doc:id="adf9d203-7fe9-4d6b-b662-0f28370d1245" variableName="foodGroupObj" />
					<set-variable value="#[%dw 2.0
output application/java
---
(vars.foodGroupList + vars.foodGroupObj) distinctBy $.Name]" doc:name="Add to FoodGroupList" doc:id="37381af1-fa75-4424-9be4-ace94c6d8bfd" variableName="foodGroupList" />
				</when>
				<otherwise >
					<logger level="INFO" doc:name="Log that record exists in 'FOOD_GROUP' table" doc:id="2d284ea7-8616-463d-b76b-fc8e07fc6bfa" message="Record with 'NAME' #[vars.currElement.category] exists in 'FOOD_GROUP' table"/>
				</otherwise>
			</choice>
			<http:request method="GET" doc:name="Invoke SAPI to Fetch PK if a record exists for a 'NAME' field in SUB_FOOD_GROUP table" doc:id="838266c3-30a2-4670-9c4e-4fb2f22c2273" config-ref="HTTP_Request_config_CentralDB" path="/tables/sub_food_group/name/{col_val}" target="subFoodGroupPK">
				<http:uri-params><![CDATA[#[output application/java
---
{
	col_val : vars.subCurrElement.food
}]]]></http:uri-params>
				<http:query-params><![CDATA[#[output application/java
---
{
	pkcol_name : 'sub_fd_grp_id'
}]]]></http:query-params>
			</http:request>
			<choice doc:name="Choice" doc:id="21383cc1-d6d7-4bb9-aaa1-b45d8e5afce8" >
				<when expression="#[vars.subFoodGroupPK == null]">
					<http:request method="GET" doc:name="Invoke SAPI to Fetch Next Value of Sequence 'SUB_FOOD_GROUP_SEQ'" doc:id="d287932b-9b29-4721-8405-498bf6af84df" config-ref="HTTP_Request_config_CentralDB" path="/sequences/sub_food_group_seq"/>
					<set-variable value="#[payload]" doc:name="Set the Value returned by the Sequence 'SUB_FOOD_GROUP_SEQ'" doc:id="893d3c5a-5a1d-41d4-ad1d-0bc3c742f082" variableName="subFoodGroupPK" />
					<set-variable value="#[%dw 2.0
output application/java
---
{
	SubFoodGroupID: payload,
	Name: vars.subCurrElement.food,
	FoodGroupID: vars.foodGroupPK
}]" doc:name="SubFoodGroupObj" doc:id="99930900-80b1-4e48-90b2-f9f35e6dec67" variableName="subFoodGroupObj" />
					<set-variable value="#[%dw 2.0
output application/java
---
vars.subFoodGroupList + vars.subFoodGroupObj]" doc:name="Add to SubFoodGroupList" doc:id="223334a0-ce45-4c8a-b032-e74099d59a1a" variableName="subFoodGroupList" />
				</when>
				<otherwise >
					<logger level="INFO" doc:name="Log that record exists in 'SUB_FOOD_GROUP' table" doc:id="e5c7e105-5ca9-497b-965a-34008e7c0620" message="Record with 'NAME' #[vars.currElement.food] exists in 'SUB_FOOD_GROUP' table" />
				</otherwise>
			</choice>
			<http:request method="GET" doc:name="Invoke SAPI to Fetch Next Value of Sequence 'PAIRING_SEQ'" doc:id="0e276022-2eb8-454d-8b3d-9d34606b25b0" config-ref="HTTP_Request_config_CentralDB" path="/sequences/pairing_seq"/>
			<set-variable value="#[%dw 2.0
output application/java
---
{
	PairID: payload,
	UPC: vars.currElement.UPC,
	FoodGroupID: vars.foodGroupPK,
	SubFoodGroupID: vars.subFoodGroupPK
}]" doc:name="PairingsObj" doc:id="02cae04a-25d9-4ba8-b15a-d47b37181def" variableName="pairingsObj"/>
			<set-variable value="#[%dw 2.0
output application/java
---

vars.pairingsList + vars.pairingsObj]" doc:name="Add to PairingsList" doc:id="2b3e45bd-1b83-41c9-8344-4f1c3ad5a64c" variableName="pairingsList" />
		</foreach>
	</sub-flow>

</mule>
